<nav aria-label="breadcrumb" class="nav-breadcumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">My Universe</a></li>
        <li class="breadcrumb-item "><a routerLink="/userprofile">Settings</a></li>
        <li class="breadcrumb-item active">UserProfile</li>
    </ol>
</nav>
<div class="container-fluid table-responsive" style="height:400px" *ngIf="screen=='MAIN'">
    <table class="table table-fixed">
        <thead class="thead-dark" style="position: sticky;top:0">
            <tr>
                <th scope="col"></th>
                <th scope="col">SOE ID</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Created By</th>
                <th scope="col">Created Date</th>
                <th scope="col">Updated By</th>
                <th scope="col">Updated Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody style="overflow-y:scroll;">
            <tr *ngFor="let user of this.userData;let i=index">
                <th scope="row"><input type="radio" name="RadioButton" value="Button"
                        (click)="selectFunctionality($event, i)"></th>
                <td>{{user._id.toUpperCase()}}</td>
                <td>{{user.name}}</td>
                <td>{{user.roles}}</td>
                <td>{{user.createdBy}}</td>
                <td>{{user.createdDate}}</td>
                <td>{{user.updatedBy}}</td>
                <td>{{user.updatedDate}}</td>
                <td>{{user.status}}</td>
            </tr>

        </tbody>
    </table>

    <div class="" style="position: absolute;bottom: 0;width: 100%;">
        <div class="wrapper" style="text-align: center;">
            <button type="button" class="btn btn-primary m-2" (click)="goToScreen('VIEW')">View</button>
            <button type="button" class="btn btn-primary m-2" (click)="goToScreen('ADD')">Add</button>
            <button type="button" class="btn btn-primary m-2" (click)="goToScreen('UPDATE')">Update</button>
            
        </div>

    </div>
</div>
<div *ngIf="screen == 'ADD'">
    <div class="container-fluid row">

        <div class="col-md-6 offset-3 card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-group row">
                            <label for="exampleFormControlInput1" class="col-md-4 col-form-label">SOE ID:</label>
                            <div class="col-md-3">
                            <input type="text" class="form-control" id="exampleFormControlInput1" maxlength="7" name = "soeid" [(ngModel)]="user.soeid">
                            </div>
                        </div>
                     </div>

                    <div class="form-group">
                        <div class="form-group row">
                            <label for="exampleFormControlInput2" class="col-md-4 col-form-label">Name:</label>
                            <div class="col-md-8">
                            <input type="text" class="form-control" id="exampleFormControlInput2" name = "name" [(ngModel)]="user.name">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group" >
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-md-4 col-form-label">Role:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" name = "roles"  [(ngModel)]="user.roles">
                                <label class="form-check-label" for="inlineRadio1">Admin</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" name = "roles"  [(ngModel)]="user.roles">
                                <label class="form-check-label" for="inlineRadio2">QA Manager</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" name = "roles"  checked [(ngModel)]="user.roles">
                                <label class="form-check-label" for="inlineRadio3">QA Reviewer</label>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Functionality:</label>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name = "functionalities"  [(ngModel)]="user.functionalities">
                    <label class="form-check-label" for="defaultCheck1">
                            All
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name = "functionalities" [(ngModel)]="user.functionalities">
                    <label class="form-check-label" for="defaultCheck1">
                        DNC	
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name = "functionalities" [(ngModel)]="user.functionalities">
                    <label class="form-check-label" for="defaultCheck1">
                        Bad Number
                    </label> 
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name = "functionalities" [(ngModel)]="user.functionalities">
                    <label class="form-check-label" for="defaultCheck1">
                        CND
                    </label>
                    </div>
                    </div>
                    
                   <!-- <div class="form-group" col-md-7>
                        <label for="exampleFormControlInput2">Change Password:</label>
                        <div class="form-group row">
                        <label for="inputEmail3" class="col-md-4 col-form-label">New Password</label>
                        <div class="col-md-8">
                        <input type="password" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="form-group row" col-md-7>
                        <label for="inputEmail3" class="col-md-4 col-form-label">Confirm Password</label>
                        <div class="col-md-8">
                        <input type="password" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    </div>-->
                    <div class="form-group row" col-md-3>
                        <label for="inputEmail3" class="col-md-4 col-form-label">Status:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" name = "status" [(ngModel)]="user.status">
                            <label class="form-check-label" for="inlineRadio1">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" name = "status" [(ngModel)]="user.status">
                            <label class="form-check-label" for="inlineRadio2">Inactive</label>
                        </div>
                    </div>
                    
                    
                    <div class="form-group row">
                        <label for="staticEmail" class="col-md-4 col-form-label">Created Date:</label>
                        <div class="col-md-2">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="**text**">
                        </div>
                        <label for="staticEmail" class="col-md-4 col-form-label">Created By:</label>
                        <div class="col-md">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail"value="**text**">
                        </div>
                     
                        <label for="staticEmail" class="col-md-4 col-form-label">Updated Date:</label>
                        <div class="col-md-2">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="**text**">
                        </div>
                        <label for="staticEmail" class="col-md-4 col-form-label">Updated By:</label>
                        <div class="col-md">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="**text**">
                        </div>
                    </div>
                    
                    <div class="form-group row justify-content-md-center">
                    <div class="form-check-inline">
                        <button type="button" class="btn btn-primary m-2" (click)="save()">Save</button>
                            <button type="button" class="btn btn-primary m-2" (click)="cancel()">Cancel</button>
                    </div>
                    </div>
                </form>

            </div>
        </div>
   
    </div>
    
</div>
<div *ngIf="screen == 'UPDATE'">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h4>Update UserProfile</h4>
            <br />
            <table cellpadding="10">
                <tr>
                    <td style="width:50%">
                        <h6>Functionality</h6>
                    </td>
                    <td style="width:50%"><input type="text" [(ngModel)]="selectedFunctionality.name" disabled></td>
                </tr>
            </table>
            <br />
            <table cellpadding="10" *ngFor="let item of genericList;let i = index">
                <tr>
                    <td style="width:25%">
                        <input type="checkbox" name="" id="" (change)="handleChange($event, item.id, i)">
                    </td>
                    <td style="width:25%">
                        <h6>{{item.category}}</h6>
                    </td>
                    <td style="width:50%">
                        <h6>{{item.name}}</h6>
                    </td>
                    <td style="width:20%">
                        <input type="number" placeholder="Please Enter Percentage" [(ngModel)]="item['weight']">
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <br />
            <table cellpadding="10">
                <tr>
                    <td>
                        <h6>Add New CheckList Item <button type="submit" (click)="pushCustom()">&#43;</button></h6>
                    </td>
                </tr>
            </table>
            <br />
            <table cellpadding="10" style="border-left:solid;color:gray">
                <tr *ngFor="let customItem of customList;let i = index">
                    <td style="width:30%">
                        <select id="dropdownCategory" style="height:26px;" [(ngModel)]="customList[i]['category']">
                            <option value="">
                                <h6>Select Category</h6>
                            </option>
                            <option *ngFor="let categoryItem of checklistCategory" [value]="categoryItem['name']">
                                <h6>{{categoryItem['name']}}</h6>
                            </option>
                        </select>
                    </td>
                    <td style="width:60%">
                        <input id="checklistName" type="text" placeholder="Enter Name"
                            [(ngModel)]="customList[i]['name']" />
                    </td>
                    <td style="width:5%">
                        <input id="checklistWeight" type="number" placeholder="Please Enter Percentage"
                            [(ngModel)]="customList[i]['weight']">
                    </td>
                    <td style="width:5%">
                        <button type="button" class="close" aria-label="Close" (click)="deleteItem(i)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="" style="position: absolute;bottom: 0;width: 100%;">
        <div class="wrapper" style="text-align: center;">
            <button type="button" class="btn btn-primary m-2" (click)="update()">Update</button>
            <button type="button" class="btn btn-primary m-2" (click)="cancel()">Cancel</button>
        </div>

    </div>
</div>
<div *ngIf="screen == 'VIEW'">
    <div class="container-fluid row">
        <div class="col-md-6">
            <h4>View UserProfile</h4>
            <br />
            <table cellpadding="10">
                <tr>
                    <td style="width:50%">
                        <h6>Functionality</h6>
                    </td>
                    <td style="width:50%"><input type="text" [(ngModel)]="selectedFunctionality.name" disabled></td>
                </tr>
            </table>
            <br />
            <table cellpadding="10" *ngFor="let item of selectedFunctionality.generic;let i = index">
                <tr>
                    <td style="width:25%">
                        <input type="checkbox" name="" id="" disabled checked>
                    </td>
                    <td style="width:25%">
                        <h6>{{item.category}}</h6>
                    </td>
                    <td style="width:50%">
                        <h6>{{item.name}}</h6>
                    </td>
                    <td style="width:20%">
                        <input type="number" placeholder="Please Enter Percentage" [value]="item['weight']" disabled>
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <br />
            <table cellpadding="10">
                <tr>
                    <td>
                        <h6>CheckList Items</h6>
                    </td>
                </tr>
            </table>
            <br />
            <table cellpadding="10" style="border-left:solid;color:gray">
                <tr *ngFor="let customItem of selectedFunctionality.custom;let i = index">
                    <td style="width:30%">
                        <select id="dropdownCategory" style="height:26px;" [(ngModel)]="customItem['category']"
                            disabled>
                            <option value="">
                                <h6>Select Category</h6>
                            </option>
                            <option *ngFor="let categoryItem of checklistCategory" [value]="categoryItem['name']">
                                <h6>{{categoryItem['name']}}</h6>
                            </option>
                        </select>
                    </td>
                    <td style="width:60%">
                        <input id="checklistName" type="text" placeholder="Enter Name" [(ngModel)]="customItem['name']"
                            disabled />
                    </td>
                    <td style="width:5%">
                        <input id="checklistWeight" type="number" placeholder="Please Enter Percentage"
                            [(ngModel)]="customItem['weight']" disabled>
                    </td>
                    <td style="width:5%">
                        <button type="button" class="close" aria-label="Close" disabled>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="" style="position: absolute;bottom: 0;width: 100%;">
        <div class="wrapper" style="text-align: center;">
            <button type="button" class="btn btn-primary m-2" (click)="cancel()">Close</button>
        </div>

    </div>
</div>